@primary-color: rgba(229, 229, 229, 0.31);
@secondary-color: #4285f4;
@tertiary-color: green;

@box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
@box-shadow-hover: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .52), 0 2px 4px rgba(0, 0, 0, .74);

@horizontal-margin: 30px;
@vertical-margin: 15px;
@horizontal-margin-list: 15px;

@header-content-height: 35px;

body {
  background-color: @primary-color;
  padding: 0;
  margin: 0;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 81.25%;
}

div.button {
  width: 100px;
  height: 35px;

  color: #fff;
  background-color: @tertiary-color;
  box-shadow: @box-shadow;
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div.button:hover {
  cursor: pointer;
  box-shadow: @box-shadow-hover;
}

div.content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: row wrap;
}

div.header {
  width: 100%;
  height: 55px;

  background-color: @secondary-color;

  display: flex;
  flex-direction: row;

  align-content: stretch;
  align-items: center;
}

div.header-menu {
  width: 250px;
}

div.header-menu > h1 {
  padding-left: @horizontal-margin;
  margin: 0;

  color: #fff;
  font-weight: 100;
  letter-spacing: 3px;
}

div.header-search {
  flex-grow: 5;
}

div.header-user {
  width: 150px;
}

div.header-user > img {
  width: @header-content-height;
  height: @header-content-height;

  float: right;
  margin-right: @horizontal-margin;

  border-radius: 17px;
}

div.search {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: #fff;
}

div.search-icon {
  height: @header-content-height;
  width: @header-content-height;

  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;

  background: rgba(255, 255, 255, .15);

  display: flex;
  align-items: center;
}

div.search > input {
  width: 90%;
  height: @header-content-height;

  padding: 0;
  margin: 0;

  color: #fff;
  font-size: 1.2em;
  font-weight: 100;

  background: rgba(255, 255, 255, .15);
  border: none;
  outline: none;
}

div.menu {
  width: 200px;
}

div.menu-sub {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  border-bottom: 1px solid #ddd;
}

ul {
  display: inline;
  padding: 0 5px 0;
  margin: 0;
}

li {
  display: block;
  padding-left: @horizontal-margin-list;
}

div.menu-item {
  width: 100%;
  height: 40px;

  padding-left: 15px;

  display: flex;
  align-items: center;
}

div.menu-item:hover {
  background-color: rgba(0, 0, 0, .05);
  cursor: pointer;
}

div.menu-item > img {
  width: 24px;
  height: 24px;

  opacity: 0.5;
}

div.menu-item > span {
  padding-left: 15px;

  text-transform: capitalize;
}

.movie-form-wrapper {
  width: 80%;

  padding-left: @horizontal-margin;

  display: flex;
  flex-direction: column;
}

.movie-form {
  width: 100%;

  margin-top: @vertical-margin;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movie-form-left {
  width: 45%;

  display: flex;
  flex-direction: column;
}

.movie-form-right {
  width: 45%;

  display: flex;
  flex-direction: column;

  margin-left: @horizontal-margin;
}

.movie-form-buttons {
  width: 100%;

  display: flex;
  flex-direction: row;
}

.movie-form-buttons > * {
  margin-left: 5px;
  margin-right: 5px;
}

.movie-form-suggestions {
  width: 100%;
}

.movie-form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 30px;

  font-size: larger;
}

div.movie-form-input > label {
  margin-bottom: 5px;
  font-weight: bold;
}

div.movie-form-input > input {
  width: 400px;
  font-size: initial;

  padding: 8px;
}

div.movie-form-input > textarea {
  width: 400px;
  font-size: initial;

  padding: 8px;
}

div.movie-form-input > select {
  width: 400px;
  font-size: large;
}

div.movie-form-input > ul > li {
  padding: 0;
  margin: 0;
}

div.movie-form-cover {
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
}

div.movie-form-cover > img {
  width: 150px;
  height: 150px;

  margin-top: 10px;
  margin-bottom: 10px;
}

div.movie-form-cover > input {
  width: 400px;
  font-size: initial;

  padding: 8px;
}

div.movie-form-genres-group {
  height: 100px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: larger;

  margin-bottom: 30px;
}

div.movie-form-genres-group > div {
  padding: 8px;
}

div.movie-form-genres-group > div > * {
  padding: 4px;
}

div.movie-form-genres-group > label {
  width: 100%;

  margin-bottom: 5px;
  font-weight: bold;
}

div.movie-table {
  width: 80%;

  margin-top: @vertical-margin;

  display: flex;
  flex-direction: column;
}

div.movie {
  width: 90%;
  padding: 10px;
  margin: 10px auto;

  background-color: #ffffff;
  box-shadow: @box-shadow;

  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-around;
}

div.movie-title {
  width: 35%;
}

div.movie-format {
  width: 15%;
}

div.movie-length {
  width: 10%
}

div.movie-publishdate {
  width: 10%;
}

div.movie-genres {
  width: 30%;
}
