@primary-color: rgba(229, 229, 229, 0.31);
@secondary-color: #4285f4;
@tertiary-color: green;

@text-primary-color: #000;
@text-secondary-color: #757575;
@text-tertiary-color: #fff;

@box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
@box-shadow-hover: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .52), 0 2px 4px rgba(0, 0, 0, .74);

@horizontal-margin: 30px;
@vertical-margin: 15px;
@horizontal-margin-list: 15px;

@movie-row-height: 75px;

@header-content-height: 35px;

@container-max-width: 350px;

body {
  background-color: @primary-color;
  padding: 0;
  margin: 0;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 81.25%;
}

ul {
  display: inline;
  padding: 0 5px 0;
  margin: 0;
}

li {
  display: block;
  padding-left: @horizontal-margin-list;
}

div.label {
  background: rgba(0, 0, 0, .03);

  box-shadow: @box-shadow;
  border-radius: 2px;

  padding: 6px;
}

div.button {
  width: 100px;
  height: 35px;

  color: #fff;
  background-color: @tertiary-color;
  box-shadow: @box-shadow;
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div.button:hover {
  cursor: pointer;
  box-shadow: @box-shadow-hover;
}

div.body {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

div.content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: row;
}

div.header {
  width: 100%;
  height: 55px;

  background-color: @secondary-color;

  display: flex;
  flex-direction: row;

  align-content: stretch;
  align-items: center;
}

div.header-menu {
  width: 250px;
}

div.header-menu > h1 {
  padding-left: @horizontal-margin;
  margin: 0;

  color: #fff;
  font-weight: 100;
  letter-spacing: 3px;
}

div.header-search {
  flex-grow: 5;
}

div.header-user {
  width: 150px;
}

div.header-user > img {
  width: @header-content-height;
  height: @header-content-height;

  float: right;
  margin-right: @horizontal-margin;

  border-radius: 17px;
}

div.search {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: #fff;
}

div.search-icon {
  height: @header-content-height;
  width: @header-content-height;

  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;

  background: rgba(255, 255, 255, .15);

  display: flex;
  align-items: center;
}

div.search > input {
  width: 90%;
  height: @header-content-height;

  padding: 0;
  margin: 0;

  color: #fff;
  font-size: 1.2em;
  font-weight: 100;

  background: rgba(255, 255, 255, .15);
  border: none;
  outline: none;
}

div.menu {
  display: flex;
  flex-direction: column;
}

div.menu-sub {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  border-bottom: 1px solid #ddd;
}

div.menu-item {
  width: 100%;
  height: 40px;

  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
}

div.menu-item:hover {
  background-color: rgba(0, 0, 0, .05);
  cursor: pointer;
}

div.menu-item > img {
  width: 24px;
  height: 24px;

  opacity: 0.5;
}

div.movie-collection {
  padding-left: @horizontal-margin;
  padding-right: @horizontal-margin;
  padding-top: @vertical-margin;

  flex-grow: 1;
}

div.menu-item > span {
  padding-left: 15px;

  text-transform: capitalize;
}

.movie-form-wrapper {
  width: 80%;

  padding-left: @horizontal-margin;

  display: flex;
  flex-direction: column;
}

.movie-form {
  width: 100%;

  margin-top: @vertical-margin;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movie-form-side {
  display: flex;
  flex-direction: column;

  padding-left: @horizontal-margin;
}

.movie-form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 30px;

  font-size: larger;
}

div.movie-form-input > label {
  margin-bottom: 5px;
  font-weight: bold;
}

div.movie-form-input > input {
  min-width: @container-max-width;

  font-size: initial;

  padding: 8px;
}

div.movie-form-input > textarea {
  min-width: @container-max-width;
  min-height: 110px;

  font-size: initial;

  padding: 8px;
}

div.movie-form-input > select {
  font-size: large;
}

div.movie-form-input > ul > li {
  padding: 0;
  margin: 0;
}

div.movie-form-cover {
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
}

div.movie-form-cover > img {
  width: 150px;
  height: 150px;

  padding-top: 10px;
  padding-bottom: 10px;
}

div.movie-form-genres-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: larger;

  margin-bottom: 30px;
}

div.movie-form-genres > div {
  padding: 8px;
}

div.movie-form-genres-options {
  max-width: @container-max-width;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.movie-form-genres-options > * {
  padding: 4px;
}

div.movie-form-genres > label {
  margin-bottom: 5px;
  font-weight: bold;
}

.movie-form-buttons {
  width: 100%;

  padding-left: @horizontal-margin;

  display: flex;
  flex-direction: row;
}

.movie-form-buttons > * {
  margin-left: 5px;
  margin-right: 5px;
}

.movie-form-suggestions {
  width: 100%;

  margin-top: @vertical-margin;
  padding-left: @horizontal-margin;
}

div.movie-table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

div.movie {
  width: 100%;

  padding: 8px;
  margin-bottom: @vertical-margin;

  background-color: #ffffff;
  box-shadow: @box-shadow;

  display: flex;
  flex-direction: column;
}

div.movie-preview {
  width: 100%;
  height: @movie-row-height;

  background-color: #ffffff;

  display: flex;
  flex-direction: row;
}

div.movie-detail {
  width: 100%;

  padding-top: 8px;

  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

div.movie-cell {
  padding-left: 16px;
  padding-right: 16px;
}

div.movie-cell:first-child {
  padding-left: 0;
}

div.movie-content {
  height: @movie-row-height;

  overflow: hidden;

  align-items: center;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

div.movie-cover {
  width: @movie-row-height;
  height: @movie-row-height;
}

div.movie-cover > img {
  width: @movie-row-height;
  height: @movie-row-height;
}

div.movie-title-desc-wrapper {
  width: 100%;
  height: @movie-row-height/2;

  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}

div.movie-meta-info-wrapper {
  width: 100%;
  height: @movie-row-height/2;

  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}

div.movie-title {
  font-weight: bold;
}

div.movie-description {
  width: 0;

  flex-grow: 1;
  overflow: hidden;

  color: @text-secondary-color;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.movie-format {
  color: @text-secondary-color;
}

div.movie-length {
  color: @text-secondary-color;
}

div.movie-publishdate {
  color: @text-secondary-color;
}

div.movie-genres {
  color: @text-secondary-color;

  display: flex;
  flex-direction: row;
}

div.movie-genres > * {
  margin-right: 10px;
}

div.movie-action-bar {
  height: @movie-row-height;

  position: relative;
  top: 0;
  right: 0;

  justify-content: flex-end;
  align-items: center;
}

div.movie-action {
  width: 24px;
  height: 24px;
}

div.movie-action-clicked {
  border-radius: 12px;
  background: lightgray;
}

div.movie-action > img {
  width: 100%;
  height: 100%;

  opacity: 0.6;
}

div.movie-action > img:hover {
  opacity: 1.0;
}

div.filter-group {
  padding-right: @horizontal-margin;

  display: flex;
  flex-direction: column;
}

div.filter-block {
  width: 100%;
}
